<div class="cohort-label">
	<img data-test-cohort-label src={{cohort.logoUrl}} alt="{{cohort.label}}" />
</div>
<div class="job-stats" data-test-cohort-id={{cohort.id}}>
	{{progress-bar
		max=cohort.studentCount
		value=cohort.totalHired
	}}
	{{#if cohort.medianDaysToHire}}
		<div class="average" data-test-average>
			<h3>Median:</h3>
			<p data-test-cohort-median-days-to-hire>{{cohort.medianDaysToHire}} days</p>
		</div>
	{{/if}}
	<div class="days-remaining">
		<h3>Deadline:</h3>
		<p data-test-days-remaining={{cohort.id}}>
			{{#if cohort.deadlinePassed}}
				PASSED
			{{else}}
				{{cohort.daysToHiringDeadline}} days
			{{/if}}
		</p>
	</div>
</div>
