{{#burger-menu
	position="right"
	width=275
 as |burger|}}
	{{#burger.menu itemTagName="li" as |menu|}}
		{{material-design-icon click=burger.state.actions.close name="close"}}
		<ul {{action burger.state.actions.close}}>
			{{#each menuItems as |menuItem|}}
				{{#menu.item}}
					{{#link-to menuItem.link}}{{menuItem.label}}{{/link-to}}
				{{/menu.item}}
			{{/each}}
		</ul>
	{{/burger.menu}}
	{{#burger.outlet}}
		{{app-header
			open=(action burger.state.actions.open)
		}}
		<div class="body-wrapper">
			{{yield}}
		</div>
	{{/burger.outlet}}
{{/burger-menu}}
