<h3 data-test-workshop-name>{{model.workshopName}}</h3>
<table>
	<caption>{{model.workshopName}}</caption>
	<thead>
		<tr>
			<th>Week</th>
			<th colspan="2">Tuesday</th>
			<th colspan="2">Thursday</th>
		</tr>
	</thead>
	<tbody>
		{{#each model.workshopScheduleWeeks as |week|}}
			<tr>
				<td data-test-week-label>{{week.label}}</td>
				{{#each week.workshopScheduleDays as |day|}}
					<td><time data-test-date>{{day.formattedDate}}</time></td>
					<td data-test-instructor>{{day.instructor.firstName}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>

